<a href="https://colab.research.google.com/github/TabithaMaizs/Assignment2-5/blob/main/intro_to_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

menu = ['stewed meat with onions', 'bean soup', 'risotto with trout and shrimp',
       'fish soup with cream and onion', 'gyro']


menu.remove('bean soup')
menu.append('roasted beet salad')


print(menu)

In [ ]:
# Do not change: Number of customers each day for the last month
num_customers = [137, 147, 135, 128, 170, 174, 165, 146, 126, 159,
                 141, 148, 132, 147, 168, 153, 170, 161, 148, 152,
                 141, 151, 131, 149, 164, 163, 143, 143, 166, 171]

# TODO: Fill in values for the variables below
avg_first_seven = sum(num_customers[:7]) / 7
avg_last_seven = sum(num_customers[-7:]) / 7
max_month = max(num_customers)
min_month = min(num_customers)

# Print results (optional)
print( avg_first_seven)
print(avg_last_seven)
print( max_month)
print( min_month)

In [ ]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"
 print(flowers.split(","))

alphabet = "A.B.C.D.E.F.G.H.I.J.K.L.M.N.O.P.Q.R.S.T.U.V.W.X.Y.Z"
address = "Mr. H. Potter,The cupboard under the Stairs,4 Privet Drive,Little Whinging,Surrey"


letters = alphabet.split(".")
formatted_address = address.split(",")

print( letters)
print(formatted_address)

In [ ]:
def percentage_growth(num_users, yrs_ago):
    past_value = num_users[len(num_users) - 1 - yrs_ago]
    recent_value = num_users[-1]
    growth = (recent_value - past_value) / past_value
    return growth


num_users_test = [920344, 1043553, 1204334, 1458996, 1503323, 1593432, 1623463, 1843064, 1930992, 2001078]
print(percentage_growth(num_users_test, 1))

print(percentage_growth(num_users_test, 7))