<a href="https://colab.research.google.com/github/TabithaMaizs/Assignment2-5/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Define a float
y = 1.
print(y)
print(type(y))

# Convert float to integer with the int function
z = int(y)
print(z)
print(type(z))
print(int(1.2321))
print(int(1.747))
print(int(-3.94535))
print(int(-2.19774))

1.0
<class 'float'>
1
<class 'int'>
1
1
-3
-2

In [ ]:
print(3 * True)
print(-3.1 * True)
print(type("abc" * False))
print(len("abc" * False))

In [ ]:
# TODO: Complete the function
def get_expected_cost(beds, baths, has_basement):
    base_price = 80000
    cost_per_bedroom = 30000
    cost_per_bathroom = 10000
    basement_cost = 40000 if has_basement else 0

    value = base_price + (beds * cost_per_bedroom) + (baths * cost_per_bathroom) + basement_cost
    return value

In [ ]:
print(False + False)
print(True + False)
print(False + True)
print(True + True)
print(False + True + True + True)

In [ ]:
def cost_of_project(engraving, solid_gold):

    base_cost = 100 if solid_gold else 50
    cost_per_unit = 10 if solid_gold else 7

    # Calculate total cost
    cost = base_cost + (len(engraving) * cost_per_unit)

    return cost
    project_one = cost_of_project("Charlie+Denver", True)
    print(project_one)
    project_one = cost_of_project("Charlie+Denver", True)
    print(project_one)